.container {
    margin-top: 20px;
    height: 120px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.cabecera {
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
}

.image-section {
    align-items: center;
}

.lista {
    width: 1000px;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 60px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list li {
    display: inline;
    margin-right: 10px;
}

.menu {
    font-weight: bold;
    color: #0f6eaa;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: clamp(12px, 4vw, 20px);
}

.sub-menu {
    color: #0f6eaa;
    text-decoration: none;
    font-size: clamp(8px, 4vw, 17px);
}

nav .menu {
    text-decoration: none;
    position: relative;
}



/* Estilo para la opción seleccionada en tu menú */
/* Estilo para la opción seleccionada en tu menú */
nav .menu.seleccionado {
    border-bottom: 2px solid#e5ea8d;
    padding-bottom: 5px;
    position: relative;
    z-index: 2;
    /* Asegura que la opción seleccionada esté por encima del efecto hover */
}


.menu:not(.seleccionado):hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #e5ea8d;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.text-b {
    color: #e5ea8d;
}

h2 {
    color: #0f6eaa;
}

.text-p {
    color: rgba(143, 136, 136, 0.945);
}

/* Estilos para los submenús */
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    /* Alinea el submenú debajo de la opción padre */
    left: 0;
    /* Alinea el submenú a la izquierda */
    /* Cambiar según tu diseño *
    /* Cambiar según tu diseño */
    z-index: 9999;
    /* Asegura que el submenú esté sobre otros elementos */
}

nav ul li {
    position: relative;
    /* Asegura que el submenú se posicione correctamente */
}

nav ul li:hover>ul {
    display: block;
}

/* Estilos para los submenús y sus elementos */
nav ul ul li {
    display: block;
    margin-right: 0;
    /* Ajusta el margen si es necesario */
}

nav ul ul li {
    display: block;
    padding: 10px;
    /* Ajusta el relleno según tu diseño */
    text-decoration: none;
    font-size: 12px;
}

.texto-1 {
    width: 40%;
    background-color: #0f6eaa;
    text-align: left;
}

.texto-2 {
    width: 60%;
    background-color: #8bd1e6;
    text-align: right;
}

.baner-a {
    display: flex;
    /* Hace que los divs se muestren en la misma fila */
    margin-right: 20px;
    /* Ajusta el margen derecho para separar los divs */
    align-items: center;
    margin: 0;
}

.texto-1,
.texto-2 {
    margin: 0;
    /* Elimina el margen predeterminado */
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: clamp(8px, 4vw, 17px);
    color: white;
}

.texto-2 .txt-a {
    margin-right: 10px;
    color: white;
    /* Ajusta el margen derecho entre los enlaces */
}

.comunicate {
    position: absolute;
    left: 10px;
    background-color: #0f6eaa;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    border-style: none;
    height: 38px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.cerrar {
    background-color: #e5ea8d;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    border-style: none;
    height: 38px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.comunicate:hover {
    background-color: #b54fed;
}

.comunicate::before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    transition: left 0.3s;
}

.comunicate:hover::before {
    left: 0;
}

.description {
    width: 600px;
    text-align: justify;
    font-size: clamp(8px, 4vw, 16px);
}

.titulo {
    padding: 0;
    font-size: clamp(14px, 4vw, 28px);
    text-align: center;
}

.subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5ea8d;
}

#mes {
    font-size: clamp(8px, 4vw, 18px);
    padding-left: 10px;
    text-align: center;
}

.modal-body {
    display: flex;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
}

.detallado {
    display: flex;
    padding: 20px;
}

.c1-horario {
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
}

.cj-medicos {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Alinear los elementos a la izquierda /
}

.cj-medicos > div {
    margin: 10px; / Espaciado entre los elementos */
}

#medicos {
    margin-right: 40px;
    margin-bottom: 40px;
}


@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes colorChange {
    0% {
        color: #099f9a;
    }

    50% {
        color: #b54fed;
    }

    100% {
        color: #ac1e38;
    }
}

.titulo {
    animation: slideIn 1s ease-out, colorChange 3s ease-in-out infinite;
}

.apartado {
    padding-left: 20px;
    padding-right: 20px;
}

.fecha-pasada {
    background-color: gray;
}

.fecha-futura {
    background-color: rgb(18, 18, 211);
}

#filterDropdown {
    display: flex;
    justify-content: center;
}

#filterSelect {
    width: 500px;
}

.form-select {
    margin-right: 20px;
}

#applyFilter {
    background-color: #e5ea8d;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    /* Transición suave del color de fondo */
}

#applyFilter:hover {
    background-color: #099f9a;
    /* Color diferente al pasar el cursor sobre el botón */
}

.c1-horario {
    text-align: center;
}

.grid-container {

    width: 700px;
    height: 350px;

    display: grid;
    grid-template-columns: repeat(auto-fit,
            minmax(200px,
                1fr));
    gap: 16px;
    margin: 30px;
}

.especialidad {
    color: yellow;
    background-color: blue;
    align-items: center;
    display: flex;
    height: 50px;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    width: 220px;
    border-radius: 10px;
    margin: 10px;
}

.especialidad:hover {
    transform: scale(1.1);
}

.con-espe {
    display: flex;
    justify-content: center;
}

.text-p1 {
    color: #aed0bd;
    text-align: center;
}

.tituloN {
    color: #e5ea8d;
}

.con-service {
    display: flex;
    justify-content: center;
}

.servicio {
    color:  #888485 ;
    background-color: #6e9eb0 ;
    align-items: center;
    display: flex;
    height: 50px;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    width: 220px;
    border-radius: 10px;
    margin: 10px;
}

.grid-container-service {

    width: 300px;
    height: 150px;

    display: grid;
    grid-template-columns: repeat(auto-fit,
            minmax(200px,
                1fr));
    gap: 16px;
    margin: 30px;
}