.container {
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin: 5px;
}

.img-logo{
    width :400px;
    height:200px;
}

.cabecera {
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
}

.image-section {
    display: flex;
    justify-content: center;
}

.lista {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 60px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list li {
    display: inline;
    margin-right: 10px;
}

.menu {
    font-weight: bold;
    color: #0f6eaa;
    text-decoration: none;
    font-size: clamp(12px, 4vw, 20px);
    margin: 5px;
}

.sub-menu {
    color: #0f6eaa;
    text-decoration: none;
    font-size: clamp(8px, 4vw, 17px);
}

nav .menu {
    text-decoration: none;
    position: relative;
}

nav .menu.seleccionado {
    border-bottom: 2px solid #e5ea8d;
    padding-bottom: 5px;
    position: relative;
    z-index: 2;
}

.menu:not(.seleccionado):hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #e5ea8d;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.text-b {
    color: #e5ea8d;
}

h2 {
    color: #0f6eaa;
}

.text-p {
    color: rgba(143, 136, 136, 0.945);
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
}

nav ul li {
    position: relative;
}

nav ul li:hover>ul {
    display: block;
}

nav ul ul li {
    display: block;
    margin-right: 0;
}

nav ul ul li {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
}

.texto-1 {
    width: 100%;
    background-color: #0f6eaa;
    text-align: left;
    padding: 10px;
    font-size: clamp(8px, 4vw, 17px);
    color: white;
}

.texto-2 {
    width: 100%;
    background-color: #8bd1e6;
    text-align: right;
    font-size: clamp(8px, 4vw, 17px);
    padding: 10px;
    
}

.baner-a {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0;
   
}


.texto-2 .txt-a {
    margin-right: 10px;
    color: white;
}

.comunicate {
    position: absolute;
    left: 10px;
    background-color: #0f6eaa;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    border-style: none;
    height: 38px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.cerrar {
    background-color: #e5ea8d;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    border-style: none;
    height: 38px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.comunicate:hover {
    background-color: #b54fed;
}

.comunicate::before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    transition: left 0.3s;
}

.comunicate:hover::before {
    left: 0;
}

.description {
    width: 100%;
    text-align: justify;
    font-size: clamp(8px, 4vw, 16px);
}

.titulo {
    padding: 0;
    font-size: clamp(14px, 4vw, 28px);
    text-align: center;
    animation: slideIn 1s ease-out, colorChange 3s ease-in-out infinite;
}

.subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5ea8d;
}

#mes {
    font-size: clamp(8px, 4vw, 18px);
    padding-left: 10px;
    text-align: center;
}

.modal-body {
    display: flex;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
}

.detallado {
    display: flex;
    padding: 20px;
}

.c1-horario {
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
    text-align: center;
}

.cj-medicos {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cj-medicos > div {
    margin: 10px;
}

#medicos {
    margin-right: 40px;
    margin-bottom: 40px;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes colorChange {
    0% {
        color: #099f9a;
    }

    50% {
        color: #b54fed;
    }

    100% {
        color: #ac1e38;
    }
}

.apartado {
    padding-left: 20px;
    padding-right: 20px;
}

.fecha-pasada {
    background-color: gray;
}

.fecha-futura {
    background-color: rgb(18, 18, 211);
}

#filterDropdown {
    display: flex;
    justify-content: center;
}

#filterSelect {
    width: 500px;
}

.form-select {
    margin-right: 20px;
}

#applyFilter {
    background-color: #e5ea8d;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

#applyFilter:hover {
    background-color: #099f9a;
}

.grid-container {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    margin: 30px;
}

.especialidad {
    color: yellow;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.especialidad:hover {
    transform: scale(1.1);
}

.con-espe {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text-p1 {
    color: #aed0bd;
    text-align: center;
}

.tituloN {
    color: #e5ea8d;
}

.con-service {
    display: flex;
    justify-content: center;
}

.servicio {
    color: #888485;
    background-color: #6e9eb0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-align: center;
    font-weight: bold;
    width: 220px;
    border-radius: 10px;
    margin: 10px;
}
.servicio:hover{
    transform: scale(1.1);
}

.grid-container-service {
    width: 20%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    margin: 30px;
}

/* Media Queries */
@media (max-width: 768px) {
    .apartado {
        flex-direction: column;
    }

    .texto-1, .texto-2 {
        width: 100%;
        font-size: 10px;
        text-align: center;
        padding: 10px;
      color: white;
    }

    .container {
        flex-direction: column;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
        text-align: center;
    }
    .img-logo{
        width :160px;
        height:80px;
    }
}

nav {
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 1;
  }
  nav .logo {
    display: flex;
    align-items: center;
  }
  nav .logo img {
    height: 90px;
    width: auto;
    margin-right: 10px;
  }
  nav .logo h1 {
    font-size: 1.1rem;
    background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  nav ul li {
    margin-left: 1.5rem;
  }
  nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 95%;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    background-color: #f5f5f5;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .hamburger .line {
    width: 25px;
    height: 1px;
    background-color: #1f1f1f;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
  }
  .hamburger-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
  }
  
  .hamburger-active .line:nth-child(2) {
    width: 0px;
  }
  
  .hamburger-active .line:nth-child(1),
  .hamburger-active .line:nth-child(3) {
    transition-delay: 0.3s;
  }
  
  .hamburger-active .line:nth-child(1) {
    transform: translateY(12px);
  }
  
  .hamburger-active .line:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
  }
  
  .menubar {
    position: absolute;
    top: 0;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 100vh;
    padding: 20% 0;
    background: rgba(255, 255, 255);
    transition: all 0.5s ease-in;
    z-index: 2;
  }
  .active {
    left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .menubar ul {
    padding: 0;
    list-style: none;
  }
  .menubar ul li {
    margin-bottom: 32px;
  }
  
  .menubar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 95%;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .menubar ul li a:hover {
    background-color: #f5f5f5;
  }
  @media screen and (max-width: 790px) {
    .hamburger {
      display: block;
    }
    nav ul {
      display: none;
    }
  }
  