body {
    font-family: Arial, sans-serif;
}


footer {
    background-color: #099f9a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


section {
    padding: 20px 0;
}

.whatsapp-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    z-index: 2;
    cursor: pointer;
}




/* Estilo para la sección de la imagen */



p,
h2 {
    font-size: clamp(12px, 4vw, 32px);
}

/* Media query para hacer la página responsiva en dispositivos móviles */
@media screen and (max-width: 768px) {

    body {
        font-size: 12px;
        text-align: justify;
    }
}

@media screen and (max-width: 480px) {}