footer {
    background-color: #099f9a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: clamp(12px, 4vw, 30px);
}


section {
    padding: 20px 0;
}

.whatsapp-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    /*   color: #fff;*/
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    z-index: 2;
    cursor: pointer;
}


h2 {
    font-size: clamp(12px, 4vw, 30px);
}

p {
    font-size: clamp(8px, 4vw, 18px);
}

.carousel {
    overflow: hidden;
    position: relative;
}

.slide {
    display: none;
}

.slide:first-child {
    display: block;
}

.apartado {
    display: flex;
    align-items: center;
    /* Centra verticalmente el contenido */
}

.apartado img {
    width: 450px;
    height: 400px;
    margin-right: 20px;
    /* Margen entre la imagen y el texto */
}


/* Estilo para submenús */
ul ul {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

ul li:hover>ul {
    display: block;
}